 <div class ="container">
   <div class ="row" >


    <h1>商品一覧</h1>
     <h3><%= Item.count %>件</h3>
     <%= link_to new_admin_item_path, class: 'btn btn-default' do %>
      <i class="fa fa-arrow-up"></i>
     <% end %>

    <table class = "table" >
     <div class "col">
      <thead>
       <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
       </tr>
      </thead>
      <tbody>
       <% @item.each do |item| %>
       <tr>
        <td><%= item.id %></td>
        <td><%=link_to item.name ,admin_item_path(item.id) %></td>
        <td><%= item.price %>円</td>
        <td>
         <%#= Genre.find(item.genre_id).name %> <%# idを使ってジャンルを探す %>
         <%= item.genre.name %> <%# リレーションを使ったやり方 %>
        </td>
        <td>
         <% if item.is_active %>
          <p>販売停止中</p>
         <% else %>
          <p>販売中</p>
         <% end %>
        </td>
       </tr>
       <% end %>

      </tbody>
     </div>
    </table>
   </div>
  </div>
