 <div class = "container" >
  <div class = "row">
   <h1>商品詳細</h1>
    <table class='table'>
     <tr>
        <td>
          <%= link_to admin_item_path(@item.id) do %>
          <%= image_tag @item.get_image(100,100) %><br>
          <% end %>
        </td>
        <td>
          <%= "商品名" %>
          <%= @item.name %><br>

          <%= "商品説明" %>
          <%= @item.introduction %><br>

          <%= "ジャンル" %>
          <%= @item.genre.name %><br>

          <%= "税込価格" %><br>
          <%= "（税抜価格）" %>
          <%= @item.price %><br>

          <%= "販売ステータス" %>
          <%= @item.is_active %>
        </td>
          <div class = "col" >
          <%= link_to "編集する" , edit_admin_item_path(@item.id) ,class: "btn btn-success" %>
          </div>
     </tr>
    </table>
  </div>
 </div>