 <div class = "container" >
  <div class = "row">
   <h1>商品詳細</h1>
    <table class='table'>
     <tr>
        <td>
          <%= link_to admin_item_path(@item.id) do %>
          <%= image_tag @item.get_image(100,100) %><br>
          <% end %>
        </td>
        <td>
          <%= "商品名" %>
          <%= @item.name %><br>

          <%= "商品説明" %>
          <%= @item.introduction %><br>

          <%= "ジャンル" %>
          <%= @item.genre.name %><br>

          <%= "税込価格" %><br>
          <%= @item.with_tax_price %>円<br>
          <%= "（税抜価格）" %>
          <%= @item.price %>円<br>

          <%= "販売ステータス" %>
          <% if @item.is_active %>
           <p>販売停止中</p>
          <% else %>
           <p>販売中</p>
          <% end %>
        </td>
     </tr>
    </table>
    <div class = "col text-center" >
          <%= link_to "編集する" , edit_admin_item_path(@item.id) ,class: "btn btn-success" %>
    </div>

  </div>
 </div>