 <div class ="container">
   <div class ="row" >
    <h1>注文履歴詳細(admin)</h1>
    <table class = "table" >
     <div class "col">
      <tr>
        <td><%= "購入者" %></td>
        <td><%= link_to @order.full_name ,admin_customer_path(@order.id) %></td>
        <td><%= @order.created_at %></td>
        <td><%= @order.address %></td> <%# amountはどこからもってくる？ %>
        <td><%= @order.payment_method %></td>
        <%= form_with(model: @order, url: admins_order_path, local: true, class: "form-row") do |f| %>
        <td>
    　　 　<%= f.select :order_status, Order.order_statuses_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6"  %>
         <%= f.submit "更新" %>
        </td>
      </tr>
         <% end %>

      </tbody>
     </div>
    </table>
   </div>
  </div>
