   <div class ="container">
     <div class ="row" >
      <h1>注文履歴詳細(admin)</h1>
      <table class = "table" >
       <div class ="col">
        <tbody>
        <tr>
          <td><%= "購入者" %></td>
          <td><%= link_to @order.full_name ,admin_customer_path(@order.id) %></td>
          <td><%= @order.created_at %></td>
          <td><%= @order.address %></td> <%# amountはどこからもってくる？ %>
          <td><%= @order.payment_method %></td>
          <td>
           <%#= form_with model: @order, url: admins_order_path, method: :patch ,local: true, class: "form-row" do |f| %>
            <%#= f.select :status, Order.statuses.keys, class: "order_status" %>
            <%#= f.submit "更新" %>
          </td>
        </tr>
           <%# end %>
        </tbody>
       </div>
      </table>
     </div>
    <table class = "table" >
        <div class = "row">
          <div class = "col" >
           <thead>
            <tr>
             <th>商品名</th>
             <th>単価（税込）</th>
             <th>数量</th>
             <th>小計</th>
             <th>製作ステータス</th>
            </tr>
           </thead>
           <%# @cart_items.each do |cart_item| %>
           <tbody>
            <tr>
             <td><%#= cart_item.item.name %></td><!-- 商品名 -->
             <td><%#= cart_item.item.with_tax_price %></td> <!-- 金額 -->
             <td><%#= cart_item.amount %></td> <!-- 個数 -->
             <td><%#= cart_item.sum_price %></td><!-- 小計 -->
              <%#= form_with model: @order_detail ,url: admin_path ,method: :patch do |f| %>
             <td>
              <%#= f.select :making_status_i18n,[["製作不可",0],["製作待ち"1],["製作中"2],["製作完了"3]] %>
              <%#= f.submit "更新" ,class: "btn btn-success" %>
              <%# end %>
             </td>
            </tr>
           </tbody>
           <%# end %>
          </div>
        </div>
    </table>
   </div>