   <div class ="container">
     <div class ="row" >
      <h4>注文履歴詳細(admin)</h4>
      </div>
      <table class = "table" >
       <div class ="row">
        <tbody>
        <tr>
          <th><%= "購入者" %></th>
          <td><%= link_to @order.full_name ,admin_customer_path(@order.id) %></td>
          <th><%= "注文日" %></th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          <th><%= "配送先" %></th>
          <td><%= @order.address_display %></td> <%# amountはどこからもってくる？ %>
          <th><%= "支払い方法" %></th>
          <td><%= @order.payment_method_i18n %></td>
          <th><%= "注文ステータス" %></th>
          <td>
           <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch ,local: true, class: "form-row" do |f| %>
            <%= f.select :status, Order.statuses_i18n.invert, class: "order_status" %>
            <%= f.submit "更新" %>
          </td>
        </tr>
           <% end %>
        </tbody>
       </div>
      </table>
    <table class = "table" >
        <div class = "row">
          <div class = "col" >
           <thead>
            <tr>
             <th>商品名</th>
             <th>単価（税込）</th>
             <th>数量</th>
             <th>小計</th>
             <th>製作ステータス</th>
            </tr>
           </thead>
           <% @order_detail.each do |order_detail| %>
           <tbody>
            <tr>
             <td><%= order_detail.item.name %></td><!-- 商品名 -->
             <td><%= order_detail.item.with_tax_price %></td> <!-- 金額 -->
             <td><%= order_detail.amount %></td> <!-- 個数 -->
             <td><%= order_detail.sum_price %></td><!-- 小計 -->
              <%# urlのidが二つある場合（ネストしているため下記のような書き方になる %>
              <%= form_with model: [@order,order_detail] ,url: admin_path(order_detail.id) ,method: :patch do |f| %>
             <td>
              <%= f.select :making_status_i18n,[["製作不可",0],["製作待ち",1],["製作中",2],["製作完了",3]] %>
              <%= f.submit "更新" ,class: "btn btn-success" %>
              <% end %>
             </td>
            </tr>
           </tbody>
           <% end %>
          </div>
        </div>
    </table>
   </div>