 <div class = "container">
  <div class = "row mt-3">
   <h2 class = "content">注文履歴詳細(customer)</h2>
  </div>
   <div class ="row">
    <div class ="col-7">
     <h4>注文情報</h4>
     <table class = "table table-bordered">
      <tbody>
       <tr>
        <td class="bg-light"><%= "注文日" %></td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
       </tr>
       <tr>
        <td class="bg-light"><%= "配送先" %></td>
        <td><%= @order.address_display %></td><%# amountはどこからもってくる？ %>
       </tr>
       <tr>
        <td class="bg-light"><%= "支払い方法" %></td>
        <td><%= @order.payment_method_i18n %></td>
       </tr>
       <tr>
        <td class="bg-light"><%= "注文ステータス" %></td>
        <td><%= @order.status_i18n %></td>
       </tr>
      </tbody>
     </table>
    </div>
    <div class="col-5">
     <h4>請求情報</h4>
     <table class = "table table-bordered" >
       <tbody>
        <tr>
         <td class="bg-light"><%= "商品合計" %></td>
         <td><%= @order.payment %>円</td>
        </tr>
        <tr>
         <td class="bg-light"><%= "配送料" %></td>
         <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
         <td class="bg-light"><%= "ご請求額" %></td>
         <td><%= @order.payment + @order.shipping_cost %>円</td>
        </tr>
       </tbody>
     </table>
    </div>
   </div>
    <h4>注文内容</h4>
    <div class ="row">
     <div class = "col-9" >
      <table class = "table table-bordered" >
        <thead>
         <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
         </tr>
        </thead>
         <% @order_detail.each do |order_detail| %>
        <tbody>
         <tr>
          <td><%= order_detail.item.name %></td><!-- 商品 -->
          <td><%= order_detail.item.with_tax_price %>円</td> <!-- 金額 -->
          <td><%= order_detail.amount %></td> <!-- 個数 -->
          <td><%= order_detail.sum_price %>円</td><!-- 小計 -->
         </tr>
       </tbody>
        <% end %>
      </table>
     </div>
    </div>
   </div>
