<div class = "container">
   <div class = "row">
     <h2 class = "content">注文履歴詳細(customer)</h2>
    </div>
    <h4>注文情報</h4>
      <table class = "table" >
       <div class ="row">
        <tbody>
        <tr>
          <th><%= "注文日" %></th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %><br></td>
          <th><%= "配送先" %></th>
          <td><%= @order.address_display %></td> <%# amountはどこからもってくる？ %>
          <th><%= "支払い方法" %></th>
          <td><%= @order.payment_method_i18n %></td>
          <th><%= "注文ステータス" %></th>
          <td><%= @order.status_i18n %></td>
        </tr>
        </tbody>
       </div>
      </table>
     <h4>請求情報</h4>
       <table class = "table" >
        <div class ="row">
         <tbody>
         <tr>
           <th><%= "商品合計" %></th>
           <td> <%= @order.payment %>円<br></td>
           <th><%= "配送料" %></th>
           <td><%= @order.shipping_cost %>円</td>
           <th><%= "ご請求額" %></th>
           <td><%= @order.payment + @order.shipping_cost %>円</td>
         </tr>
         </tbody>
        </div>
       </table>
       <h4>注文内容</h4>
      <table class = "table" >
       <div class ="row">
        <tbody>
         <div class = "col" >
           <thead>
            <tr>
             <th>商品</th>
             <th>単価（税込）</th>
             <th>個数</th>
             <th>小計</th>
            </tr>
           </thead>
           <% @order_detail.each do |order_detail| %>
           <tbody>
            <tr>
             <td><%= order_detail.item.name %></td><!-- 商品 -->
             <td><%= order_detail.item.with_tax_price %>円</td> <!-- 金額 -->
             <td><%= order_detail.amount %></td> <!-- 個数 -->
             <td><%= order_detail.sum_price %>円</td><!-- 小計 -->
            </tr>
           </tbody>
           <% end %>
          </div>
        </tbody>
       </div>
      </table>
  </div>
